@import "./variables";
@import "./mixings";
@import "./reset";
@import "./utilities";

:root {
  --text: hsl(200, 15%, 8%);
  --bg: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  --small: $small;
  --medium: $medium;
  --large: $large;
  --x-large: $x-large;
  --xx-large: $xx-large;
  --font: "Nunito Sans", sans-serif;
  --transition: all 200ms ease-in-out;
  --radius: 0.325rem;
}

[data-theme="dark"] {
  --text: hsl(0, 0%, 100%);
  --bg: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
}

* {
  box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
}

ul,
ol {
  list-style: none;
}
