@import "../../styles/variables";
@import "../../styles/mixings";

.btn-switch-theme {
  padding: 0.75rem 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 600;

  border: none;
  border-radius: var(--radius);
  cursor: pointer;

  background-color: transparent;
  color: var(--text);

  transition: var(--transition);

  &:hover {
    background-color: rgba(#000, 0.1);
  }

  ion-icon {
    font-size: 1.3em;
  }

  @include at-query($max, $small) {
    zoom: 0.9;
  }
}
