@import "../../styles/_variables.scss";
@import "../../styles/_mixings.scss";

.navbar {
  padding: 0.5rem 0;
  background-color: var(--elements);
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.25);

  @include at-query($min, $medium) {
    padding: 0.175rem;
  }
}

.navbar__title {
  font-size: 1.175rem;

  @include at-query($min, $medium) {
    font-size: 1.325rem;
  }
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__switch {
  padding: 0.75rem 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 600;

  border: none;
  border-radius: var(--radius);
  cursor: pointer;

  background-color: transparent;
  color: var(--text);

  transition: var(--transition);

  &:hover {
    background-color: rgba(#000, 0.1);
  }

  ion-icon {
    font-size: 1.3em;
  }
}
