@import "../../styles/variables";
@import "../../styles/mixings";

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-weight: 400;
  text-align: center;

  @include at-query($min, $medium) {
    font-size: 1.2rem;
  }

  span {
    font-weight: 800;
  }

  ion-icon {
    animation: rotating 1400ms linear infinite;
    width: 2rem;
    height: 2rem;
  }
}
